<div id="evac-card" class="card h-100 oswald">
  <h3 class="m-3 text-center oswald fw-bold">Sta. Cruz Evacuation Center</h3>
  <div class="card-body">
    <div class="row border-3 border-dark border-bottom mx-4">
      <div class="col text-end fw-bold">
        <h1>43</h1>
      </div>
      <div class="col align-self-end">
        <h6>Sheltered Families</h6>
      </div>
    </div>
    
    <div class="row">
      <div class="col text-end"">
        <h6 class="mt-3">Sheltered Individuals</h6>
      </div>
      <div class="col">
        <h2>122</h2>
      </div>
    </div>
  </div>
  <%= link_to dashboard_path, id: "view-evac", class: "border-0 border-secondary text-light rounded-bottom p-2 text-decoration-none text-center" do %>
    View <i class="fa-solid fa-magnifying-glass"></i>
  <% end %>
</div>