<style>
footer {
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
</style>
<footer class="footer mt-auto">
  <nav id="ebak-nav" class="navbar navbar-expand-lg">
    <div class="position-static container-fluid">
    <p>© 2023 Copyright: Juntado, Llesol, Panis</p>
    </div>
  </nav>
</footer>