<div class="container mt-5">
    <div class="card">
      <div class="card-body" >
        <div class="card-deck">
          <div class="card shadow p-4">
            <label>Email:</label><input type="text" class="form-control mb-1 mt-1" placeholder="sample" disabled/>
            <label>Password:</label><input type="text" class="form-control mb-1 mt-1" placeholder="sample" disabled/>
            <label>Confirm Password:</label><input type="text" class="form-control mb-1 mt-1" placeholder="sample" disabled/>
            <button class="btn btn-warning oswald w-100 m-2">
              <h5>EDIT</h5>
            </button>
            <button class="btn btn-danger oswald w-100 m-2">
              <h5>DELETE ACCOUNT</h5>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
