<div class="container-fluid">
    <br>
    <div class="row" >
        <div class="col"></div>    
            
            <div class="col p-0" style="box-shadow: 5px 3px 10px 5px grey;">
                <div class="row">
                    <div class="col p-1" name="title" style="background:black; color:white;">
                        <h1 class="oswald"  align="center">PROFILE </h1>
                    </div>

                    
                </div>

                <div class="row" style="background:white">
                    
                    <div class="col" name="content">
                        <br>
                        <input type="text" class="form-control mb-1 mt-1" placeholder="sample"/>
                        <input type="text" class="form-control mb-1 mt-1" placeholder="sample"/>
                        <input type="text" class="form-control mb-1 mt-1" placeholder="sample"/>
                        <input type="text" class="form-control mb-1 mt-1" placeholder="sample"/>
                        <input type="text" class="form-control mb-1 mt-1" placeholder="sample"/>
                        <input type="text" class="form-control mb-1 mt-1" placeholder="sample"/>
                        <button class="btn btn-success w-100 mb-4 mt-1 p-2 oswald-fw"><h4>CONFIRM <h4></button>
                    </div>
                </div>
            </div>
        <div class="col"></div>
    </div>
</div>


<style>
    *{

        outline: 0px dashed red;
    }
</style>