<div class="container-fluid">
    <br>
    <div class="row" >
        <div class="col"></div>    
            
            <div class="col-md-8 p-0" style="box-shadow: 5px 3px 10px 5px grey;">
                <div class="row">
                    <div class="col p-1" name="title" style="background:black; color:white;">
                        <h1 class="oswald"  align="center">PROFILE </h1>
                    </div>

                    
                </div>

                <div class="row" style="background:white">
                    
                    <div class="col" name="content">
                        <br>
                        <label>Email:</label><input type="text" class="form-control mb-1 mt-1" placeholder="sample" disabled/>
                        <label>Password:</label><input type="text" class="form-control mb-1 mt-1" placeholder="sample" disabled/>
                        <label>Confirm Password:</label><input type="text" class="form-control mb-1 mt-1" placeholder="sample" disabled/>
                        <br>
                        <button class="btn btn-warning oswald w-100"><h5>EDIT</h5></button>
                        <br><br>
                        <button class="btn btn-danger oswald w-100"><h5>DELETE ACCOUNT</h5></button>
                        <br>
                        <span class="mb-4 mt-1 p-2"></span>
                    </div>
                </div>
            </div>
        <div class="col"></div>
    </div>
</div>


<style>
    *{

        outline: 0px dashed red;
    }
</style>