<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card" >
      <h1 align="center">Change your password</h1>
      <div id = "change_password">
        <%= render partial:"change_password_form", locals:{user:@user, password_session: @password_session}%>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<style>
  <style>
  body{
    background: rgb(89,147,188);
    background: linear-gradient(0deg, rgba(89,147,188,1) 1%, rgba(21,38,74,1) 100%);
    background-attachment: fixed;
  }
</style>
