
<div id="landing" class="vh-100 oswald">
  <div class="row m-0">
    <div class="col-md-auto ps-5">
      <h1 class="">NAGA</h1>
      <%= form_with url: "/log/evacuate/", method: :post do |form| %>
              <%= form.submit "done"%>
            <%end%>
    </div>
    <div class="col-md-auto" >
      <h1 class="" style="color:#2e9cdb;">E-BAKWIT <i class="fa-solid fa-people-roofpb-"></i></h1>
    </div>
    <div class="col text-end" >
      <%= link_to evac_centers_path, id: "detailed-view", class: "btn btn-outline-light fs-2 oswald mt-5 me-5" do %>
      BROWSE RECORDS <i class="fa-solid fa-angles-right"></i>
      <% end %>
    </div>
  </div>
  <div class="row m-0">
    <p class="p-5">An efficient and convenient evacuee logging and relief distribution assistance web-based system for the local government of Naga’s City Social Welfare and Development Office (CSWDO), a digital tool that handles disaster evacuation endeavors in Naga City, Philippines.<p>
  </div>
</div>

<div id="about-section" class="vh-100 oswald d-flex">
  <div class="row m-0">
    <div class="col-sm-12 col-md-6 border-end border-black p-5 default-background3 flex-fill">
      <h1 class="fw-bold fs-1">About CSWDO</h1>
      <p class="fs-5 m-3">In Naga City, the evacuation-related matters are handled by the City Social Welfare and Development Office (CSWDO). As displayed on CSWDO’s webpage, the office is responsible for disaster relief assistance for the victims of man-made and natural disasters alike; this assistance comes in the form of providing counseling services and relief goods.</p>
      <p class="fs-5 m-3">CSWDO mandates the "Upliftment of the living condition and improve the quality of life of the poorest sector to enable them to become self-reliant and contribute to national development."</p>
      <p class="fs-5 m-3">They have a vision of seeing "Naga as an inclusive city where everyone can participate in and benefit from the opportunities it offers."</p>
      <p class="fs-5 m-3">And their mission is the "Implementation of programs, projects, and services that will alleviate poverty and empower disadvantaged individuals, families, and communities to improve their quality of life."</p>
    </div>
    <div class="col-sm-12 col-md-6 border-end border-black p-5 default-background2 flex-fill">
      <h1 class="fw-bold fs-1">About Naga E-bakwit</h1>
      <p class="fs-5 m-3">Naga E-bakwit is a web-based system that aims to serve as a tool that would lessen the CSWDO’s workload by automating data processes such as demographic segregation and relief allocation. Through the implemented system, CSWDO and their volunteers are expected  to consume less time and effort in accomplishing a  DROMIC report, but most importantly, it would enable them to efficiently monitor the status of the evacuation centers in relation to the sheltered families that are temporarily in their care. </p>

      <p class="fs-5 m-3">The main purpose of this project is mainly to provide an efficient and convenient evacuee logging and relief distribution assistance web-based system for the local government of Naga’s City Social Welfare and Development Office to assist them in disaster evacuation endeavors.</p>
    </div>
  </div>
</div>

<div id="contact-section" class="vh-100 montserrat default-background1 p-5">
  <div class="row m-0">
    <h1 class="fw-bold fs-1 oswald mb-4">Contact</h1>
    <div class="row ms-5">
      <p class="fs-4 oswald">If you have any concerns that you want to relay to CSWDO, you may reach out to them through the different contact information below.<p>
    </div>
    <div class="row ms-5">
      <div class="col-auto fw-bold">
        Address:
      </div>
      <div class="col-auto">
        City Social Welfare Development Office G/F Social Development Center, Naga City Hall Complex, Juan Q. Miranda Ave., Concepcion Pequeña, Naga City
      </div>
    </div>
    <div class="row ms-5">
      <div class="col-auto fw-bold">
        Telephone:
      </div>
      <div class="col-auto">
        <div class="col-auto">
          +63-54-871-2050+[local number] for <b>PLDT</b>
        </div>
        <div class="col-auto">
          +63-54-205-2980+[local number] for <b>GLOBE</b> (Local: 3040)
        </div>
        <div class="col-auto">
          (Local: 3040)
        </div>
      </div>
    </div>
    <div class="row mt-5 ms-5">
      <p class="fs-4 oswald">Or you may also want to visit their official webpage by clicking this <a href="https://www2.naga.gov.ph/office-service/city-social-welfare-development-office/" target="_blank">link</a>.<p>
    </div>
  </div>
</div>

</div>

<%= render '/layouts/footer' %>