<html>
  <head>
    <style>
      * {
          margin:0;
          padding:0;
      }
      *{
          outline:0px dashed rgb(255, 0, 0);
      }
      #login-container{
          background-color: black;
          color: white;
          border-radius: 15px;
      }
      span{
          font-size: 12px;
      }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style = "background: #b8dbd9;">
    <%= render 'navbar' %>
    <span>&nbsp;</span>
    <div class="mx-auto col-md-4 p-5" style="box-shadow: rgb(81, 81, 81) 0px 0px 12px 2px;" id="login-container">
      <div class="row">
        <div class="col-md-12">
          <h1 align="center">ACCOUNT CREATION</h1>
        </div>
        <form>
          <div class="col">
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">FIRST NAME</span>
              </div>
              <input type="text" class="form-control" id="inputEmail"  placeholder="First Name"/>
            </div>
          </div>
          <div class="form-group">
            <p></p>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">LAST NAME</span>
              </div>
              <input type="text" class="form-control" id="inputlnamel"  placeholder="Last Name"/>
            </div>
            <p></p>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">EMAIL ADDRESS</span>
                </div>
                <input type="email" class="form-control" id="inputAdd"  placeholder="Address"/>
              </div>
              <p></p>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">PASSWORD</span>
                  </div>
                  <input type="password" class="form-control" id="inputPass"  placeholder="Password"/>
                </div>
                <div id= "login_errorArea"></div>
                <span>&nbsp;</span>
                <button class="btn btn-primary float-right w-100 font-weight-bold">Submit</button>
              </div>
              <span>&nbsp;</span>
              <p>
                <div class="col-md-12 p-2" style="border-top: 1px solid white;">
                </div>
                <div class="col-md-12 p-2" style="border-top: 1px solid white;">
                  Copyright © 2023  Juntado, Llesol, Panis
                </div>
              </div>
            </form>
          </body>
        </html>
