<%= render "/layouts/default_back" %>
<span>&nbsp;</span>
<div class="mx-auto col-md-4 p-5" style="box-shadow: rgb(81, 81, 81) 0px 0px 12px 2px;" id="login-container">
  <div class="row">
    <div class="col-md-12">
      <h1 align="center">REQUEST TO CREATE ACCOUNT</h1>
    </div>
    <form>
      <div class="col">
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend w-25">
            <p align="center" class="h5 oswald fw">First Name:</p>
          </div>
          <input type="text" class="form-control" id="inputfname"  placeholder="First Name"/>
        </div>
      </div>
      <div class="form-group">
        <p></p>
        <div class="input-group">
          <div class="input-group-prepend w-25">
            <p align="center" class="h5 oswald fw">Last Name:</p>
          </div>
          <input type="text" class="form-control" id="inputlname"  placeholder="Last Name"/>
        </div>
        <p></p>
        <div class="input-group">
          <div class="input-group-prepend w-25">
            <p align="center" class="h5 oswald fw">Birthdate:</p>
          </div>
          <input type="date" class="form-control" id="inputbday"/>
        </div>
        <p>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend w-25">
                <p align="center" class="h5 oswald fw">Email:</p>
              </div>
              <input type="email" class="form-control" id="inputAdd"  placeholder="example@example.com"/>
            </div>
            <p></p>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend w-25">
                  <p align="center" class="h5 oswald fw">Password:</p>
                </div>
                <input type="password" class="form-control" id="inputPass"  placeholder="Password"/>
              </div>
              <p>
                <div class="input-group">
                  <div class="input-group-prepend w-25">
                    <p align="center" class="h5 oswald fw">Address:</p>
                  </div>
                  <textarea class="form-control" id="inputPass" rows="2">   </textarea>
                </div>
                <div class="mb-3">
                  <label for="proofofid" class="form-label">Proof of Identity: (e.g. Valid Id, Selfie na naka wackie)</label>
                  <input class="form-control" type="file" id="proofofid" multiple>
                </div>
                <div id= "login_errorArea"></div>
                <span>&nbsp;</span>
                <button class="btn btn-primary float-right w-100 font-weight-bold">Submit</button>
              </div>
              <span>&nbsp;</span>
              <p>
                <div class="col-md-12 p-2" style="border-top: 1px solid white;">
                </div>
                <%= link_to 'Back', :back %>
              </div>
            </form>
