<body style = "background: #b8dbd9;">
  <span>&nbsp;</span>
  <div class="mx-auto col-md-4 p-5" style="box-shadow: rgb(81, 81, 81) 0px 0px 12px 2px;" id="login-container">
    <div class="row">
      <div class="col-md-12">
        <h1 align="center">BE A VOLUNTEER</h1>
        <div id = "request_form">
          <%= render partial: "reqCreate_form", locals: {request: Request.new} %>
        </div>
      </div>
    </div>
  </div>
</body>
