<%= render 'navbar' %>
<style>
    *{

        outline: 0px dashed red;
    }
</style>
<p></p>
<div class="row">
    <div class="col">

    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col p-3 m-1" style="background-image: linear-gradient(#f0f0f0, #b8dbd9); box-shadow: 1px 1px .5em #586F7C; border-radius: 2px; ">
                <div class="row">
                    <div class="col-md-9">
                        <h1 class="oswald fw" style="border-bottom: 2px solid black">EVACUATION PROFILE</h1>
                    </div>
                    <div class="col">
                        <a  class="btn btn-outline-danger w-100 oswald fw-bold">UPDATE</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="h4 oswald fw" align="right">Name: </p>
                    </div>
                    <div class="col">
                        <p class="h2 oswald fw">JMRC BUILDING</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="h4 oswald fw" align="right">Address: </p>
                    </div>
                    <div class="col">
                        <p class="h2 oswald fw">Panganiban</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="h4 oswald fw" align="right">Camp Manager: </p>
                    </div>
                    <div class="col">
                        <p class="h2 oswald fw">John Doe</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="h4 oswald fw" align="right">Capacity: </p>
                    </div>
                    <div class="col">
                        <p class="h2 oswald fw">50</p>
                    </div>
                </div>
            </div>
            <div class="col p-3 m-1" style="background: white; box-shadow: 1px 1px .5em #586F7C; border-radius: 2px">
                <div class="row">
                    <div class="col-md-9">
                        <h1 class="oswald fw" style="border-bottom: 2px solid black">FACILITIES</h1>
                    </div>
                    <div class="col">
                         <%= link_to "Update", evac_facilities_form_path, class: "btn btn-outline-danger w-100 oswald fw-bold" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="h4 oswald fw" align="right">LATRINES: </p>
                    </div>
                    <div class="col">
                        <p class="h2 oswald fw">0</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="h4 oswald fw" align="right">CHILD-SPACES: </p>
                    </div>
                    <div class="col">
                        <p class="h2 oswald fw">2</p>
                    </div>
                </div>
                 
            </div>
        </div>
        <div class="row p-2" style="background-image: linear-gradient(#f0f0f0, #b8dbd9); border-top: 2px solid black; border-radius: 2px;">
            <div class="col">
                <div class="row">
                    <div class="col-md-9">
                        <h1 class="oswald fw" style="border-bottom: 2px solid black">FACILITIES</h1>
                    </div>
                    <div class="col">
                         <%= link_to "Update", evac_facilities_form_path, class: "btn btn-outline-danger w-100 oswald fw-bold" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="h4 oswald fw" align="right">LATRINES: </p>
                    </div>
                    <div class="col">
                        <p class="h2 oswald fw">0</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="h4 oswald fw" align="right">CHILD-SPACES: </p>
                    </div>
                    <div class="col">
                        <p class="h2 oswald fw">2</p>
                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
    <div class="col">
    </div>
</div>