<div id="<%= dom_id evac_center %>">
  <p>
    <strong>Name:</strong>
    <%= evac_center.name %>
  </p>

  <p>
    <strong>Isinside:</strong>
    <%= evac_center.isInside %>
  </p>

  <p>
    <strong>Barangay:</strong>
    <%= evac_center.barangay %>
  </p>

</div>
