<div class="row mx-5 mt-3">
  <div class="col-6">
    <h3 class="fs-1 oswald fw-bold bottom-0">Archived Evacuation Centers</h3>
  </div>
</div>
<div id = "evac_centers">
  <%= render partial: "evac_search_results", locals:{evac_centers:@evac_centers}%>
</div>
