<h1>Editing evac center</h1>


<%= render "form", evac_center: @evac_center %>

<br>

<div>
  <%= link_to "Show this evac center", @evac_center %> |
  <%= link_to "Back to evac centers", evac_centers_path %>
</div>
