<div class="row mx-5 mt-3">
  <div class="col-6">
    <h3 class="fs-1 oswald fw-bold bottom-0 mt-3">Evacuation Centers</h3>
  </div>
  
  
    <div class="col-4">
        <%= form_with url: "/evac_centers/search", method: :post do |form| %>
          <label for = "search_criteria"><strong>Search for Evacuation Center:</strong></label>
          <%= form.search_field :search_value , class: "form-control", placeholder: "Search an Evacuation Center", oninput: "this.form.requestSubmit()" %>
        <% end %>
    </div>

  <% if session[:user_type] == "ADMIN"%>
    <div class="col-2 d-flex flex-column justify-content-end p-0">
      <%= link_to '/evac_centers/new', class: 'btn btn-dark oswald mt-auto' do %>
        Add New Evacuation Center <i class="fa-solid fa-folder-plus"></i>
      <% end %>
    </div>
  <% end %>
  
</div>


<div id = "evac_centers">
  <%= render partial: "evac_search_results", locals:{evac_centers:@evac_centers}%>
</div>
