<head>
  <style>
    *{outline:0px dashed red;}
  </style>
</head>
<%= render "main/navbar" %>
<div class="row">
  <div class="col-md-6">
    <fieldset>
      <legend>
        <button id="disaster-name-dv" class="rounded fs-1 poppins dropdown-toggle border-0 fw-bold mt-4 mx-5 bg-transparent" data-bs-toggle="dropdown" aria-expanded="false">
          Typhoon Juan
        </button>
        <ul class="dropdown-menu">
          <li>Typhoon B</li>
          <li>Typhoon C</li>
          <li>Typhoon D</li>
          <li>Typhoon E</li>
          <li>Typhoon F</li>
          <li>Typhoon G</li>
          <li>Typhoon H</li>
          <li>Typhoon I</li>
          <li>Typhoon J</li>
        </ul>
      </legend>
    </fieldset>
  </div>
  <div class="col-md-6">
    <br>
    <br>
    
    <div class = "row">
      <div class = "col-md-6">
        <a href="/register"class="btn btn-primary btn-md" style = "float:right;"><i class="fa-solid fa-person"></i> Add Volunteer Profile</a>
      </div>
      <div class = "col-md-6">
        <%= link_to new_evac_center_path, id: "add-evac-center", class: "btn btn-primary btn-md" do %>
          <i class="fa-solid fa-folder-plus px-2"></i> Add Evacuation Center
        <% end %>
      </div>
      <div class = "col-md-6">
        <%= link_to log_relief_form_path, id: "add-evac-center", class: "btn btn-primary btn-md" do %>
          <i class="fa-solid fa-folder-plus px-2"></i> Log Relief Goods
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4 px-5 m-0">
  <% @evac_centers.each do |evac_center| %>
    <div class="col">
      <%= render partial: "evac_center_card", locals:{evac_center: evac_center} %>
    </div>
  <% end %>
</div>
