
<%= link_to '/evac_centers', class: 'ms-5 mt-3 mb-2 btn btn-outline-dark oswald fs-4 text-decoration-none' do %>
  <i class="fa-solid fa-left-long"></i> Back
<% end %>


<fieldset id="evac-form" class="rounded m-5 p-5 border-opacity-75">
  <div class = "row">
    <div class = "col-md-6">
      <h1 class="oswald fw-bold mb-3">New Evacuation Center</h1>
    </div>
  </div>
  <%= render partial: "form", locals:{evac_center: @evac_center} %>
</fieldset>
