<div id="<%= dom_id evacuation_essential %>">
  <p>
    <strong>Name:</strong>
    <%= evacuation_essential.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= evacuation_essential.description %>
  </p>

  <p>
    <strong>Ess type:</strong>
    <%= evacuation_essential.ess_type %>
  </p>

</div>
