<table class="table table-striped table-hover border rounded">
  <thead>
    <tr>
      <th class="col">Name</th>
      <th class="col">Description</th>
      <th class="col">Type</th>
      <th class="col-md-2">Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% evacuation_essentials.each do |es|%>
      <tr>
        <td><b><%= es.name%></b></td>
        <td><%= es.description %></td>
        <td><%= es.ess_type%></td>
        <td style = "width:30%;">
          <%= link_to "/evacuation_essentials/#{es.id}/edit", class: "btn btn-dark form-control" do %>
            <i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i>&nbsp;Edit
          <% end %>
        </tr>
      </td>
    <% end %>
  </tbody>
</table>
