<div class="row p-2">
  <div class="col"></div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-2">
        <%= link_to ' Back', '/evacuation_essentials', class: "fa fa-arrow-left btn btn-primary m-2" %>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <div class="col">  </div>
</div>
<div id = "form_area">
  <%= render partial:"form", locals:{evacuation_essential:@evacuation_essential}%>
</div>
