<%= render '/layouts/default_back' %> 
<div class="row p-2">
    <div class="col"></div>
    <div class="col-md-8" >
        <div class="row p-1">
<%= form_with(model: @evac_profile, local: true, class: "row g-3") do |form| %>
    <div class="col p-3 m-1" id="logging-style-form">
                <h2 class="m-3 oswald fw-bold" style="border-bottom: 2px solid black;" >DISASTER INFORMATION</h2>
                
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-prepend w-25">
                            <p align="center" class="h5 oswald fw">NAME OF DISASTER: </p>
                        </div>
                        <input type="text" class="form-control" placeholder="Dela Cruz">
                    </div>
                </div><br>
                <br>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-prepend w-25">
                            <p align="center" class="h5 oswald fw">Description: </p>
                        </div>
                        <textarea class="form-control"></textarea>
                    </div>
                </div><br>
                <br>
                <div class="form-group">
                    <div class="input-group">
                    <div class="input-prepend w-25 text-center">
                    <%= form.label "DISASTER TYPE", class: "h5 oswald fw text-uppercase"    %>
                    
                    </div>
                    <%= form.select :disaster_type, options_for_select(["Man-made", "Natural"]), {}, class: "form-control" %>
                </div></div>
                <br>
                    <button class="btn btn-success text-light rounded-bottom p-2 w-100 text-decoration-none text-center">DONE</button>
                
            </div>
    </div>


<% end %>
    </div>
    <div class="col"></div>
</div>