<%= render '/layouts/default_back' %>
<style>
  *{outline:0px dashed red;}
</style>
<div class="row p-2">
  <div class="col"></div>
  <div class="col-md-8" id="logging-style-form">
    <h1 class="oswald fw">FAMILY</h1>
    <table class="table table-striped table-hover border rounded">
      <thead>
        <tr>
          <th class="col">FAMILY NAME</th>
          <th class="col">NO# Members</th>
          <th class="col">4PS</th>
          <th class="col">EVACUATION CENTER</th>
          <th class="col-md-2">Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td><b>PANIS</b></td>
          <td>7</td>
          <td>Yes</td>
          <td>Not in Any Evacuation Center</td>
          <td class="position-relative">
            <div class="row">
              <div class="col">
                <%= link_to "/log", class: "btn btn-dark btn-sm" do %>
                  <i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i>&nbsp;Edit
                <% end %>
              </div>
              <div class="col">
                <%= link_to "/log", class: "btn btn-danger btn-sm" do %>
                  <i class="fa-regular fa-trash-can" style="color: #ffffff;"></i>&nbsp;Delete
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col"></div>
</div>
