<div class="col-md-3">
    <div id="disaster-card" class="card h-100 oswald border-0">
        <div class="card-header m-0">
            <h3 class="m-3 text-center poppins fw-bold">Typhoon Juan<i class="ms-3 fa-solid fa-hurricane"></i></h3>
        </div>
        <div class="card-body">
            <div class="row mb-1">
                <div class="col text-end">
                    <p>Date Occured</p>
                </div>
                <div class="col text-start">
                    <h5 class="fw-bold">2023, September 3</h6>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col text-end">
                    <p>Disaster Type</p>
                </div>
                <div class="col text-start">
                    <h5 class="fw-bold">Typhoon</h6>
                </div>
            </div>
            <div class="row">
                <div class="col text-end">
                    <p>Sheltered Families</p>
                </div>
                <div class="col text-start">
                    <h3 class="fw-bold">23</h6>
                </div>
            </div>
            <div class="row">
                <div class="col text-end">
                    <p>Sheltered Individuals</p>
                </div>
                <div class="col text-start">
                    <h3 class="fw-bold">55</h6>
                </div>
            </div>

            <div id="disaster-desc" class="row p-1 pt-2 m-2 bg-white rounded">
                <p class="montserrat">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>

            <div class="row mt-3">
                <div class="col"></div>
                    <div class="col">
                        <%= link_to "disasters/show/", class: "btn btn-secondary form-control" do %>
                            View <i class="fa-solid fa-eye"></i>
                        <% end %>
                    </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>