<div id="<%= dom_id disaster %>">
  <p>
    <strong>Name:</strong>
    <%= disaster.name %>
  </p>

  <p>
    <strong>Disaster type:</strong>
    <%= disaster.disaster_type %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= disaster.year %>
  </p>

</div>
