<%= link_to '/families', class: 'ms-5 mt-3 mb-2 btn btn-outline-dark oswald fs-4 text-decoration-none' do %>
  <i class="fa-solid fa-left-long"></i> Back
<% end %>

<div id = "form_area">
  <%= render partial:"form", locals:{family:@family}%>
</div>
<br>

