<div class="col-md-11 m-5 text-xs-center mt-5">
  <div class="card" >
    <div class="card-body" >
      <div class="card-deck">
        <div class="card shadow p-4">
          <h1 align="center">Change your password</h1>
          <div id = "change_password">
            <%= render partial:"first_login_form", locals:{user:@user}%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
