<div class = "row">
    <div class="col"></div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h1 class="oswald fw-bold">New camp manager</h1>
        </div>
        <div class="col-md-3">
          <%= link_to ' Back', :back, class: "fa fa-arrow-left btn btn-primary m-2" %>
        </div>
        
      </div>
    </div>   
    <div class="col"></div>
</div>

<%= render "form", camp_manager: @camp_manager %>


<div>
</div>
