<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%=@user.fname%>!</h3>
    <p>Click the link provided to change your password. Note that you will only have an hour since the time you receive this email to change your password.</p>
    <p>Link: <a href  = "e-bakwit.onrender.com/change_password/<%=@user.id%>/<%=@password_session.id%>">Change your password here</a></p>
  </body>
</html>
