<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%=@user.fname%>!</h4>
    <p>
      <%= @message %>
    </p>
    <br>
    <p>Yours Sincerely,</p>
    <p>CSWDO NAGA</p>
  </body>
</html>
