<div class="montserrat fw-bold col-10">
  <table class="table table-responsive table-sm table-hover ">
    <thead class="table-dark">
      <th class="p-2">Last Name</th>
      <th class="p-2">First Name</th>
      <th class="p-2">Age</th>
      <th class="p-2">Sex</th>
      <th class="text-center p-2">Parent</th>
      <th class="text-center p-2">Pregnant</th>
      <th class="text-center p-2">Breastfeeding</th>
      <th class="text-center p-2">PWD</th>
      <th class="text-dark p-2">update</th>
      <th class="text-dark p-2">remove</th>
    </thead>
    <% @evacuee_list.each do |fam| %>
      <% FamilyMember.all.where(evacuee_id: fam.id).each do |mem| %>
        <tr>
          <td class="p-2"><%= mem.lname %> </td>
          <td class="p-2"><%= mem.fname %> </td>
          <td class="p-2"><%= mem.age %> </td>

          <% if mem.sex == "Male" %>
            <td class="oswald p-2" style="color: #1a8cff">M <i class="fa-solid fa-person"></i></td>
          <% else %>
            <td class="oswald p-2" style="color: #ff1aff">F <i class="fa-solid fa-person-dress"></i></td>
          <% end %>

          <% if mem.is_parent == true %>
            <td class="fs-3 text-center p-2"><i class="fa-solid fa-p"></i></i></td>
          <% else %>
            <td class="p-2"></td>
          <% end %>

          <% if mem.is_pregnant == true %>
            <td class="fs-3 text-center p-2"><i class="fa-solid fa-person-pregnant"></i></td>
          <% else %>
            <td class="p-2"></td>
          <% end %>

          <% if mem.is_breastfeeding == true %>
            <td class="fs-3 text-center p-2"><i class="fa-solid fa-person-breastfeeding"></i></td>
          <% else %>
            <td class="p-2"></td>
          <% end %>

          <% if mem.is_pwd == true %>
            <td class="fs-3 text-center p-2"><i class="fa-solid fa-wheelchair"></i></i></td>
          <% else %>
            <td class="p-2"></td>
          <% end %>

          <td style="width: 10%" class="pt-1 text-end">
                <button class="btn btn-dark" style="font-size: 0.9em;"><i class="fa-solid fa-pen-to-square"></i> UPDATE</button>
          </td>
          <td style="width: 10%;" class="pt-1 ps-2">
                <%= form_with url: "out/#{mem.id}", method: :post do |form| %>
                  <button type="submit" class="btn btn-danger" style="font-size: 0.9em;">REMOVE <i class="fa-solid fa-person-circle-minus"></i></i></button>
                <% end %>

          </td>
        </tr>
      <% end %>
      <tr class="table-secondary"><td colspan="12"></td></tr>
    <% end %>
  </table>
</div>
