<div class="container-fluid">
  <div class="row">
    <% families.each do |x| %>
      <div class="col-md-12 p-1 mb-3" style="background: silver;font-size:18px; box-shadow: 3px 3px 2px 2px black; outline:3px dashed black">
           <%= render partial: "selection-mem", locals:{x: x} %>
      </div>
    <% end%>
  </div>
</div>
