@import "bootstrap";
@import "font-awesome";

body {
    background:  #b8dbd9;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Google Fonts */

.poppins {
    font-family: 'Poppins', sans-serif;
}
.oswald{
    font-family: 'Oswald', sans-serif;
}

/* Navbar */

#ebak-nav {
    box-shadow: 1px 1px 0.2em #000000;
}

.navbar {
    background-color: #000000;
    color: #FFFFFF;
}

.navbar-nav{
    padding-right: 4em;
}

.navbar a.navbar-brand, .navbar .nav-link {
    color: #FFFFFF;
}

.navbar .nav-item.active .nav-link {
    color: #FFFFFF;
}

#login-button{
    font-size: 2em;
    position: absolute;
    right: 0;
    top: -0.15em;
}

#login-button:hover{
    transition-duration: 2s;
    text-shadow: 0px 0px 10px #ffffff;
}

/*Landing Dashboard Page*/

#gen-table {
    height: 70%;
    color: #000000;
    border: 0.2em solid #000000;
    background-image: linear-gradient(#b8dbd9, rgba(0,0,0,0), rgba(0,0,0,0.8));
}

#pop-title{
    position: absolute;
    top: -2.2em;
    left: 1em;
    padding: 0.5em;
}

#pop-title button{
    background-color: #b8dbd9;
    color: #000000;

}

#pop-title fieldset{
    padding: 10px;
}

.gen-card{
    box-sizing: border-box;
    border: 0.15em dashed #555;
    background-image: linear-gradient(#f0f0f0, #b8dbd9);
    height: 37.5em;
    width: 30%;
    min-width: 30em;
    margin: auto;
    padding: 0;
    display: flex;
}

.gen-card h1{
    align-self: center;
    font-weight: bold;
    width: 100%;
    text-shadow: 1px 1px 0.01em#000000;
}

.gen-card h3{
    align-self: flex-end;
    width: 28.2%;
    position: absolute;
}

/*Detailed View Page*/

#evac-count h1{
    font-size: 23em;
}

#fam-count h1{
    font-size: 18em;
}

#indi-count h1{
    font-size: 15em;
}

#detailed-view{
    font-size: 1.2em;
}

#evac-card {
    background-image: linear-gradient(#f0f0f0, #b8dbd9);
    box-shadow: 1px 1px 0.5em #586F7C;
}

#evac-card h1{
    font-size: 7em;
    font-weight: 900;
}

#evac-card h2{
    font-size: 4em;
    font-weight: 900;
}

#evac-card h6{
    font-size: 1.2em;
}

#view-evac{
    background-color: #586F7C;
    box-shadow: 1px 1px 2px #586F7C;
}

#disaster-name-dv {
    color: #20292e;
    text-shadow: 1px 1px 0.05em #20292e;
}

#add-evac-center {
    position: absolute;
    top: 5.5em;
    right: 3em;
}

#new-evac-form{
    border: 0.2em dashed #586F7C;
    background-image: linear-gradient(#f0f0f0, #b8dbd9);
}

.form-control{
    box-shadow: 1px 1px 0.2em #20292e;
}

// login
#login-container{
    background-color: black;
    color: white;
    border-radius: 15px;
}
span{
    font-size: 12px;
}

// evacuee logging part

#logging-style-form{
    background-image: linear-gradient(#f0f0f0, #b8dbd9);
    box-shadow: 1px 1px .5em #586F7C;
    border-radius: 2px;
    //outline: 2px dashed black;
}

.fssmall {
    font-size: 0.7em;
    text-align: center;
}