body {
    background:  #b8dbd9;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}
.oswald{
    font-family: 'Oswald', sans-serif;
}

#ebak-nav {
    box-shadow: 1px 1px 0.2em #000000;
}

.navbar {
    background-color: #000000;
    color: #FFFFFF;
}

.navbar-nav{
    padding-right: 4em;
}

.navbar a.navbar-brand, .navbar .nav-link {
    color: #FFFFFF;
}

.navbar .nav-item.active .nav-link {
    color: #FFFFFF;
}

#login-button{
    font-size: 2em;
    position: absolute;
    right: 0;
    top: -0.15em;
}

#login-button:hover{
    transition-duration: 2s;
    text-shadow: 0px 0px 10px #ffffff;
}

#gen-table {
    background: rgba(0,0,0,0.8);
    height: 70%;
    color: #000000;
}

#disaster-name {
    box-shadow: 1px 1px 0.2em #000000;
}

#pop-title{
    position: absolute;
    top: -2.2em;
    left: 1em;
    padding: 5px;
}

#pop-title button{
    background-color: #586F7C;
    color: #fff;

}

#pop-title fieldset{
    border: 2px solid black;
    padding: 10px;
}

.gen-card{
    box-sizing: border-box;
    border: 1px dashed #000000;
    background-image: linear-gradient(#f0f0f0, #b8dbd9);
    height: 37.5em;
    width: 30%;
    min-width: 30em;
    margin: auto;
    padding: 0;
    display: flex;
}

.gen-card h1{
    align-self: center;
    font-weight: bold;
    width: 100%;
    text-shadow: 1px 1px 0.01em#000000;
}

.gen-card h3{
    align-self: flex-end;
    width: 28.2%;
    position: absolute;
}

#evac-count h1{
    font-size: 23em;
}

#fam-count h1{
    font-size: 18em;
}

#indi-count h1{
    font-size: 15em;
}

#detailed-view{
    font-size: 1.2em;
    background-color: #04724d;
}

#detailed-view:hover{
    background-color: #034d34;
    text-shadow: 0px 0px 0.01em #fff;
}