<div class="bottom-0 bg-black p-2">
  <p class="p-0 m-0 oswald text-center"style="color: #fff; font-size: 0.7em;">© 2023 Copyright: Juntado, Llesol, Panis</p>
  <p class="p-0 m-0 oswald text-center"style="color: #fff; font-size: 0.7em;">version 1.0</p>
<div>